{
  "extends": ["unobtrusive", "unobtrusive/import"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "globals": {
        "py": "readonly",
        "FIXTURES": "readonly"
      }
    }
  ]
}
